/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import 'bootstrap';

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
}

.hero {
    height: calc(100vh - 102px);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    height: 100%;
    width: 100%;
}

.hero-content {
    z-index: 1;
    position: relative;
    background-color: rgba(250, 250, 250, 0.5);
    max-width: 80%;
    text-align: center;
    padding: 20px;

}

.footer-bbs {
    border: 1px solid black;
    background-color: black;
    color: white;
    padding: 10px;
}

.navbar-dark .navbar-nav .show .dropdown-toggle.nav-link {
    color: rgba(255, 255, 255, 0.55);
}

.navbar-dark .navbar-nav .show>.nav-link {
    color: blue;
}